.action-panel__button-previous {
    color: #ff6600;
    background-color: #fff;
    border: 1.2px solid #E6E7EB;   
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}