.content-block__button {
    width: 184px;
    height: 48px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    border-radius: 16px;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    display: flex;
    background: #FF6600;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: 32px auto 0 auto;
}