.content-block__table-row-time {
    list-style: none;
    background-image: url(../../../images/time.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;    
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background-size: 22px 24px;
}