.test__button {
    box-sizing: border-box;
    padding: 0 24px;
    background-color: #FF6600;
    border-radius: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    align-self: center;
}