.aside__accordion {
    background-color: transparent;
    cursor: pointer;
    padding-top: 32px;
    margin-top: 33px;
    width: 100%;
    border: none;
    border-top: 1px solid #E6E7EB;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #212329;
}

.aside__accordion:after {
    content: url(../../../images/vector-down.svg);
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
